---
import { Icon } from 'astro-icon/components';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import Button from '~/components/ui/Button.astro';
import type { Steps as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  callToAction = await Astro.slots.render('callToAction'),
  items = [],
  isReversed = false,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`py-4 md:py-8 lg:py-8 max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <div class={`flex flex-col gap-2 md:gap-4`}>
    <div class={`w-full gap-8 md:gap-12 ${isReversed ? 'lg:ml-16 md:ml-8 ml-0' : 'lg:mr-16 md:mr-8 mr-0'}`}>
      <Headline
        title={title}
        subtitle={subtitle}
        tagline={tagline}
        classes={{
          container: 'text-center md:text-left rtl:md:text-right mb-4 md:mb-8',
          title: 'text-center mb-4 text-3xl lg:text-4xl font-bold font-heading',
          subtitle: 'mb-8 text-center text-xl text-muted dark:text-slate-400',
          // ...((classes?.headline as {}) ?? {}),
        }}
      />

      <div class="w-full flex flex-col items-center md:text-left rtl:md:text-right">
        {
          typeof callToAction === 'string' ? (
            <Fragment set:html={callToAction} />
          ) : (
            callToAction &&
            callToAction.text &&
            callToAction.href && <Button variant="primary" {...callToAction} class="mb-12 w-auto" />
          )
        }
      </div>
    </div>

    <div class="w-full flex flex-col items-center">
      <ul class="space-y-4">
        {
          items && items.length
            ? items.map(({ title: title2, href, description, icon, color }, index) => (
                <li>
                  <div class="flex justify-center"> <!-- Added wrapper for centering -->
                    <a href={href} class="flex w-[296px] md:w-[640px] md:px-44 px-4 py-4 backdrop-blur border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900 rounded-full" target="_blank">
                      <div class="pr-2 sm:pl-4 rtl:pr-0 rtl:pl-4 rtl:sm:pl-0 rtl:sm:pr-4">
                        <span class={`flex w-12 h-12 mx-auto items-center justify-center text-2xl font-bold rounded-full ${color} text-white`}>
                          {icon ? <Icon name={icon} class="w-6 h-6 icon-bold" /> : index + 1}
                        </span>
                      </div>
                      <div class="pl-4 rtl:pl-0 rtl:pr-4 flex-grow">
                        <h3 class="mb-1 md:mb-2 text-xl font-semibold font-heading" set:html={title2} />
                        <p class="text-muted dark:text-gray-400" set:html={description} />
                      </div>
                    </a>
                  </div>
                </li>
              ))
            : ''
        }
      </ul>
    </div>
    
  </div>
</WidgetWrapper>
